// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//				SITE FOOTER
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.site-footer {
  background: $black;
  color: $white;
  flex-shrink: 0;
}
