// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//				SITE HEADER
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.site-header {
  padding: 4% 0;
  transition: all 400ms;

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 2px solid $lightGray;

    a.title {
      text-decoration: none;
      h1 {
        font-size: 2.5rem;
        transition: text-shadow 0.2s linear;
        margin: 0;
        &:hover,
        &:focus {
          text-shadow: 4px 4px 2px rgba($darkGreen, 0.4);
        }
        @include media(sm) {
          font-size: 1.8rem;
        }
      }
    }

    .menu-container {
      display: flex;
      align-items: center;
      @include media(sm) {
        flex-direction: column;
        margin: 1rem 0;
      }
      .menu {
        @include main-menu();
        font-size: 1.1rem;
        .menu-item {
          padding: 0 1.2rem;
          .menu-link {
            padding: 0;
          }
        }
      }
      form {
        margin-left: 15px;
        margin-top: 3px;
        @include media(sm) {
          display: none;
        }
      }
    }

    // home page version
    body.home & {
      flex-direction: column;
      justify-content: center;
      padding-bottom: 0;
      border-bottom: none;

      a.title {
        h1 {
          font-size: 5rem;
          @include media(sm) {
            font-size: 3.5rem;
          }
          @include media(xs) {
            font-size: 3rem;
          }
        }
      }
      .menu-container {
        form {
          @include media(sm) {
            display: block;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
