.searchform {
  font-family: $body;
  #s {
    outline: none;
    border: none;
    border: 2px solid $green;
    border-radius: 15px;
    padding: 3px 15px;
    line-height: 1.2;
  }
  #searchsubmit {
    border: none;
    outline: none;
    background: $green;
    color: white;
    padding: 3px 5px;
    border-radius: 4px;
  }
}
