// A map of breakpoints corresponding to the grid breakpoints
$breakpoints: (
  xs: 30em,
  sm: 48em,
  md: 64em,
  lg: 75em,
);

@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// menus
@mixin main-menu() {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  font-family: $body;
  font-size: 1.3rem;

  .menu-item {
    position: relative;
    padding: 0 1.4rem;
    &:not(:first-child) {
      border-left: 2px solid $lightGray;
    }

    .menu-link {
      display: inline-block;
      text-decoration: none;
      color: $green;
      padding: 0.5rem 0;
      transition: 0.4s $easeInOutBack;
      &:hover,
      &:focus {
        color: $darkGreen;
        transform: translate(0, -3px);
        + .menu-drop {
          max-height: none;
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    // style current page link
    &.current-menu-item .menu-link {
      color: $darkGreen;
    }

    &.menu-item-has-children {
      .menu-drop {
        list-style: none;
        position: absolute;
        max-height: 0; // don't display: none for accessibility reasons
        opacity: 0;
        top: 100%;
        left: -50%;
        margin: 0;
        padding: 0;
        transform: translateX(-50%);
        background: red;
        transition: all 0.2s ease-in-out;
        display: flex;
        pointer-events: none;
        .menu-drop-item {
          margin: 0.5rem 0;
          padding: 5px 10px;
          font-size: 0.9rem;
          a {
            color: $black;
          }
        }
      }
    }
  }
}

// lists

@mixin recipe-list-primary() {
  // used on home page
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  .recipe-item {
    height: 35vh;
    max-height: 400px;
    max-width: 300px;
    flex: 1 0 auto;
    border: 5px solid $black;
    padding: 5px;
    overflow: hidden;
    margin: 1.5rem 1rem;
    a {
      display: block;
      height: 100%;
      position: relative;
      overflow: hidden;
      img {
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        transition: transform 0.4s ease-in-out;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          0deg,
          #000000 -5.5%,
          rgba(255, 255, 255, 0) 40.73%
        );
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transition: all 0.4s ease-in-out;
        p {
          font-family: $header;
          font-size: 2rem;
          font-weight: bold;
          line-height: 1.2;
          text-align: center;
          color: white;
          margin: 1rem 0;
          padding: 0 5px;
        }
      }
    }
    &:hover,
    &:focus {
      img {
        transform: scale(1.1);
      }
      .overlay {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
      }
    }
  }
}
@mixin recipe-list-secondary() {
  // used on recipes and category page
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  .recipe-item {
    height: 225px;
    flex: 0 0 225px;
    border: 5px solid $black;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    margin: 3rem 1.5rem 0 1.5rem;
    @include media(sm) {
      height: 200px;
      flex: 0 0 200px;
      margin: 3rem 1rem 0 1rem;
    }
    @include media(xs) {
      height: 155px;
      flex: 0 0 155px;
      border: 3px solid $black;
      padding: 3px;
    }
    a {
      display: block;
      height: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 50%;

      img {
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        transition: transform 0.4s ease-in-out;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease-in-out;
        p {
          font-family: $header;
          font-size: 1.75rem;
          font-weight: bold;
          line-height: 1.2;
          color: white;
          margin: 1rem 0;
          padding: 0 5px;
          text-align: center;

          @include media(xs) {
            font-size: 1.5rem;
          }
        }
      }
    }
    &:hover,
    &:focus {
      img {
        transform: scale(1.1);
      }
      .overlay {
        opacity: 0;
      }
    }
  }
}
