{% extends 'layout.twig' %}

{% block content %}
	<section class="section section--category">
		<div class="container">
			{% set cat = function('single_cat_title', "", false) %}

			<h2>What's
				{{cat == 'Drink' ? 'To' : 'For'}}
				{{cat}}?</h2>

			{% include 'blocks/recipe-list.twig' with {custom_recipes: posts} %}
		</div>
	</section>
{% endblock %}
