{% extends 'layout.twig' %}

{% block content %}

	<section class="section section--category">
		<div class="container">
			<h2>All
				{{post.title}}</h2>
			{% include 'blocks/recipe-list.twig' with {recipes: all_recipes, pagination: TRUE} %}
		</div>
	</section>


{% endblock %}
